.two-column-content-band {
  .two-columns {
    width: 100%;
    -moz-column-count: 2;
    -moz-column-gap: 2rem;
    -webkit-column-count: 2;
    -webkit-column-gap: 2rem;
    column-count: 2;
    column-gap: 2rem;
  }

  .img-left {
    display: inline-block;
    float: left;
    margin-right: 2rem;
  }

  .img-right {
    display: inline-block;
    float: right;
    margin-left: 2rem;
  }
}
