---
layout: base
---

<div class="grid-wrapper">
  <div class="width-12-12">
    <h1>Component Library</h1>
    <br/><br/><br/>
  </div>
</div>

<div class="grid-wrapper">
  <div class="width-12-12 component-name"><h5>Type</h5></div>
  <div class="width-12-12">
    <h1>H1 Looks like this</h1>
    <h2>H2 Looks like this</h2>
    <h3>H3 Looks like this</h3>
    <h4>H4 Looks like this</h4>
    <h5>H5 Looks like this</h5>
    <h6>H6 Looks like this</h6>
    <p>P Looks like this</p>
    <br/>
  </div>
</div>

<div class="grid-wrapper">
  <div class="width-12-12 component-name"><h5>Secondary Page Title Band</h5></div>
</div>
{% include secondary-page-title-band.html %}

<div class="grid-wrapper">
  <div class="width-12-12 component-name"><h5>Download Announcement Band</h5></div>
</div>
{% include download-announcement-band.html %}

<div class="grid-wrapper">
  <div class="width-12-12 component-name"><h5>Header Navigation</h5></div>
</div>
{% include header-navigation.html %}

<div class="grid-wrapper">
  <div class="width-12-12 component-name"><h5>Product Download Band</h5></div>
</div>
{% include product-download-band.html %}

<div class="grid-wrapper">
  <div class="width-12-12 component-name"><h5>Quick Pitch Band</h5></div>
</div>
{% include quick-pitch-band.html %}

<div class="grid-wrapper">
  <div class="width-12-12 component-name"><h5>Two Column Content Band</h5></div>
</div>
{% include two-column-content-band.html %}

<div class="grid-wrapper">
  <div class="width-12-12 component-name"><h5>Mid-Page CTA Band</h5></div>
</div>
{% include mid-page-cta-band.html %}

<div class="grid-wrapper">
  <div class="width-12-12 component-name"><h5>Documentation Archive Sub-navigation</h5></div>
</div>
{% include docs-archive-subnav.html %}

<div class="grid-wrapper">
  <div class="width-12-12 component-name"><h5>Contributions Band</h5></div>
</div>
{% include contributions-band.html %}

<div class="grid-wrapper">
  <div class="width-12-12 component-name"><h5>Big Three Sub-navigation Band</h5></div>
</div>
{% include big-three-subnav-band.html %}

<div class="grid-wrapper">
  <div class="width-12-12 component-name"><h5>Video Content Band</h5></div>
</div>
{% include video-content-band.html %}

<div class="grid-wrapper">
  <div class="width-12-12 component-name"><h5>Feature Highlights Band - Inline with images</h5></div>
</div>
{% include highlights-inline-images-band.html %}

<div class="grid-wrapper">
  <div class="width-12-12 component-name"><h5>Feature Highlights Band - Alternating with images</h5></div>
</div>
{% include highlights-alternating-images-band.html %}

