---
layout: base
---

<div class="grid-wrapper">
  <div class="width-12-12">
    <h1>Component Library</h1>
    <br/><br/><br/>
  </div>
</div>

<div class="grid-wrapper">
  <div class="width-12-12 component-name"><h5>Type</h5></div>
  <div class="width-12-12">
    <h1>H1 Looks like this</h1>
    <h2>H2 Looks like this</h2>
    <h3>H3 Looks like this</h3>
    <h4>H4 Looks like this</h4>
    <h5>H5 Looks like this</h5>
    <h6>H6 Looks like this</h6>
    <p>P Looks like this</p>
    <br/>
  </div>
</div>


<div class="grid-wrapper">
  <div class="width-12-12 component-name"><h5>Header Navigation</h5></div>
</div>
{% include header-navigation.html %}


<div class="grid-wrapper">
  <div class="width-12-12 component-name"><h5>Product Download Band</h5></div>
</div>
{% include product-download-band.html %}

<div class="grid-wrapper">
  <div class="width-12-12 component-name"><h5>Quick Pitch Band</h5></div>
</div>
{% include quick-pitch-band.html %}